<html>
<head>
	<title>Profile Page</title>

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1> Welcome! </h1>
  <p> This is my profile page!</p>
  <img src="same.jpg" alt="">


</body>
</html>
